.item__detailpage
  .item__detailpage__box
    .item__detailpage__box__title
    .item__detailpage__box__main
      .item__detailpage__box__main__image
        .item__detailpage__box__main__image__top
        .item__detailpage__box__main__image__bottom
          .item__detailpage__box__main__image__bottom__column
      .item__detailpage__box__main__text
        .item__detailpage__box__main__text__box
          .item__detailpage__box__main__text__box__column
          .item__detailpage__box__main__text__box__content